$colors: (
        base: (
                white: #fff,
                white-rgba1: rgba(255, 255, 255, 0.1), // settings money
                white-rgba2: rgba(255, 255, 255, 0.2),
                white-rgba3: rgba(255, 255, 255, 0.3),
                white-rgba4: rgba(255, 255, 255, 0.4),
                white-rgba5: rgba(255, 255, 255, 0.5),
                white-rgba12: rgba(255, 255, 255, 0.12), // bg action membership
                white-rgba08: rgba(255, 255, 255, 0.08), // faq
                black: #000,
                black-rgba3: rgba(0, 0, 0, 0.3), // footer cabinet
                black-rgba5: rgba(0, 0, 0, 0.5), // footer game
                black-rgba8: rgba(0, 0, 0, 0.8),
                dark: #280716,
                dark-rgba7: rgba(0, 3, 32, 0.7), // header
                darker: #180034,
        ),

        grays: (
                base: #cdd8e2, // border
                medium: #B8CDE4,
                payment-method: rgba(250, 250, 250, 0.1),
                light: #E4EEF7,
        ),

        green: (
                base: #06950a,
                medium: #03a600,
                light: #00D23B, // membership accent
                semilight: #00FFA3, // count likes
                secondary: #04D700,
        ),

        blue: (
                base: #1F1B53, // cabinet bg
                secondary: #9DB9D7, // demo membership
                dark: #00255c, // social
                medium: #6C89A9, // account status - demo
                light: #00d9d9, // status payment success
        ),

        red: (
                primary: #ff0000,
                secondary: #d90068,
                dark: #E3030A,
                medium: #ff413f,
        ),

        yellow: (
                base: #ffb21e,
                dark: #FFA800,
                medium: #ffb800,
                light: #ffd976,
                semilight: #ffe76a,
                light-rgba7: rgba(255, 217, 118, 0.7),
                base-rgba5: rgba(255, 178, 30, 0.5),
        ),

        time: (
                start: rgba(128, 255, 0, 0.6),
                half: rgba(219, 255, 0, 0.6),
                quarter: rgba(255, 184, 0, 0.6),
                end: rgba(255, 0, 0, 0.6),
        ),

        rounds: (
                completed: rgba(0, 209, 255, 0.22),
                future: rgba(255, 255, 255, 0.08),
                light: rgba(255, 217, 118, 0.7), // border
        ),
);

// btn, base elem
$gd-base: linear-gradient(180deg, #8000FF 0%, #DB00FF 100%);
$gd-base-reverse: linear-gradient(180deg, #DB00FF 0%, #8000FF 100%);

// questions block
$gd-black: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);

// questions
$gd-dark: linear-gradient(180deg, #50009F 0%, #580066 100%);

// answers
$gd-answer-default: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
                linear-gradient(180deg, #50009F 0%, #580066 100%);
$gd-answer-hover: linear-gradient(180deg, #6700CD 0%, #8A00A0 100%);
$gd-answer-active: linear-gradient(180deg, #8A00A0 0%, #6700CD 100%); //click
$gd-answer-picked: linear-gradient(180deg, #FFD600 0%, #FFA800 100%);
$gd-answer-correct: linear-gradient(180deg, #00A32E 0%, #0067A0 100%);
$gd-answer-incorrect: linear-gradient(180deg, #B8000B 0%, #A00090 100%);

// main bg block
$gd-radial: radial-gradient(100% 53.56% at 0% 50%, #5300DA 0%, #16002D 100%);

// descriptions game
$gd-extralight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.69) 100%);

// whatsapp
$gd-whatsapp: linear-gradient(180deg, #64D448 0%, #21A400 100%);

// viber
$gd-viber: linear-gradient(180deg, #A378FF 0%, #8100E7 100%);

// telegram
$gd-telegram: linear-gradient(180deg, #0088CC 0%, #006BA0 100%);

// btn action membership
$gd-yellow: linear-gradient(180deg, #FFC700 0%, #FF8A00 100%);
$gd-yellow-reverse: linear-gradient(180deg, #FF8A00 0%, #FFC700 100%);

// box-shadow count mails in tg
$box-base-btn: 0 0 24px rgba(255, 0, 229, 0.55);

$screen-lg: 1920px;
$screen-md: 1279px;
$screen-sm: 959px;
$screen-xs: 720px;

$screen-cabinet-md: 1120px;
$screen-cabinet-sm: 960px;
$screen-cabinet-xs: 600px;