.main {
    padding: 40px 0;
    flex: 1;
}

.title {
    position: relative;
    margin-bottom: 16px;

    font-size: 22px;
    font-weight: 500;

    &_sm {
        font-size: 18px;
    }

    &.-line {
        margin-top: 48px;
        padding-top: 24px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';

            width: 100%;
            height: 1px;

            background-color: getcolor(base, white-rgba3);
        }
    }

    @media (max-width: $screen-xs) {
        font-size: 16px;

        &.-line {
            margin-top: 24px;
        }
    }
}