.info-page {
    &__title {
        font-size: 18px;
        font-weight: 600;
    }

    p {
        margin: 24px 0;

        line-height: 26px;
    }

    @media (max-width: $screen-xs) {
        &__title {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }
    }
}