.settings {
    &__social {
        margin-top: 40px;
    }

    &__password {
        margin-top: 32px;
    }

    &__withdraw {
        margin-top: 80px;
    }

    &__balance {
        padding: 12px 24px;
        align-self: flex-start;

        font-size: 20px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0.01em;
        text-align: center;
        white-space: nowrap;

        border-radius: 28px;
        background-color: getcolor(base, white-rgba1);
    }

    &__balance-info {
        max-width: 460px;
    }

    &__withdraw-sum {
        flex-grow: 2 !important;
    }

    &__pagination {
        margin-top: 16px;
    }

    &__card {
        margin-top: 40px;

        & .card + .card {
            margin-top: 24px;
        }
    }

    &__membership {
        margin-top: 40px;
    }

    @media (max-width: $screen-cabinet-md) {
        &__social-line.-sm {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 35px 24px;
        }

        &__password-line {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }

        &__withdraw-line {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
        }
    }

    @media (max-width: $screen-xs) {
        &__social-line.-sm,
        &__password-line,
        &__withdraw-line {
            grid-template-columns: 1fr;
            gap: 16px;
        }

        &__withdraw {
            margin-top: 32px;
        }

        &__balance {
            padding-top: 10px;
            padding-bottom: 10px;

            font-size: 16px;
        }

        &__balance-info {
            font-size: 16px;
        }

        &__history {
            overflow: scroll;
        }
    }
}