.btn {
    position: relative;
    z-index: 2;

    display: inline-block;
    padding: 12px 20px;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: center;
    color: getcolor(base, white);

    background: $gd-base;
    border: none;
    border-radius: 24px;

    cursor: pointer;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        z-index: -1;

        width: 100%;
        height: 100%;
        opacity: 0;

        border-radius: inherit;
        background: $gd-base-reverse;

        transition: opacity .3s;
    }

    &_gold {
        padding: 12px 20px;

        font-size: 22px;
        line-height: 1.45;
        color: getcolor(base, black);

        border-radius: 34px;
        background: $gd-yellow;

        &::after {
            background: $gd-yellow-reverse;
        }
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &_border {
        position: relative;
        background: transparent;

        &::before {
            position:absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content:"";

            padding: 3px;

            border-radius: inherit;
            background: $gd-base;
            -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &::after {
            z-index: 1;
            padding: 3px;

            background: $gd-base-reverse;
            -webkit-mask:
                    linear-gradient(#fff 0 0) content-box,
                    linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &.-white {
            background-color: getcolor(base, white);
        }
    }

    &_full {
        width: 100%;
    }

    &_money {
        padding: 6px 45px 6px 15px;
        letter-spacing: 0.01em;

        &.-deposit {
            &::before {
                position: absolute;
                top: 50%;
                right: 13px;
                content: '';

                width: 24px;
                height: 24px;
                margin-top: -10px;

                background: url(../img/icon/money-deposit.svg) no-repeat;
            }
        }

        &.-withdraw {
            &::before {
                position: absolute;
                top: 50%;
                right: 13px;
                content: '';

                width: 24px;
                height: 24px;
                margin-top: -10px;

                background: url(../img/icon/money-withdraw.svg) no-repeat;
            }
        }
    }
}

.btn-answer {
    $this: &;

    position: relative;
    z-index: 2;

    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 14px 24px;

    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;

    background: $gd-answer-default;
    border-radius: 100px;
    border: 2px solid getcolor(base, white);

    cursor: pointer;

    &__variant {
        margin-right: 8px;

        font-weight: 600;
        font-size: 20px;
        color: getcolor(yellow, base);
    }

    &__name {
        text-align: left;
        color: getcolor(base, white);
    }

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        z-index: -1;

        width: 100%;
        height: 100%;
        opacity: 0;

        border-radius: inherit;
        background: $gd-answer-hover;

        transition: opacity .3s;
    }

    &.active {
        background: $gd-answer-active;

        &:hover::after {
            opacity: 0;
        }
    }

    &:active {
        &::after {
            background: $gd-answer-active
        }
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &.-picked {
        background: $gd-answer-picked;

        #{$this}__variant {
            @extend .text-gradient;
        }

        #{$this}__name {
            color: getcolor(base, black);
        }

        &::after {
            content: unset;
        }
    }

    &.-disabled {
        background: $gd-answer-disabled;
        opacity: .2;

        &::after {
            content: unset;
        }
    }

    &.-correct {
        background: $gd-answer-correct;
        &::after {
            content: unset;
        }
    }

    &.-incorrect {
        background: $gd-answer-incorrect;
        &::after {
            content: unset;
        }
    }
}