.form {
    &__line {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 32px;
        margin-top: 16px;

        .form__field {
            margin-top: 0 !important;
            flex: 1;
        }

        &.-sm {
            gap: 16px;
        }

        &.-bottom {
            align-items: flex-end;
        }
    }

    &__field {
        position: relative;

        & + .form__field {
            margin-top: 8px;
        }

        &.-error {
            .input,
            .btn-social {
                border-color: getcolor(red, primary);
            }

            .btn-social {
                opacity: .5;
            }

            .form__error {
                display: block;
            }
        }

        &.-confirm {
            margin-bottom: 26px;
        }
    }

    &__label {
        display: inline-block;
        margin-bottom: 4px;

        font-size: 13px;
        font-weight: 300;
        line-height: 22px;
        white-space: nowrap;
    }

    &__input {
        position: relative;
    }

    &__confirm {
        position: absolute;
        right: 0;

        display: flex;
        margin-top: 4px;

        font-size: 13px;
        font-weight: 600;
        line-height: 22px;

        cursor: pointer;
    }

    &__error {
        position: absolute;

        display: none;
        margin-top: 4px;

        font-size: 13px;
        font-weight: 300;
        line-height: 22px;
        color: getcolor(red, primary);
    }

    &__show-pwd {
        position: absolute;
        right: 20px;
        bottom: 16px;

        cursor: pointer;
    }

    &__icon-entry {
        width: 22px;
        padding-left: 13px;
    }

    &__icon-ok {
        position: absolute;
        top: 50%;
        right: 11px;

        transform: translateY(-50%);
    }

    &__btn-recovery {
        margin-top: 32px;
    }
}

.input {
    width: 100%;
    padding: 8px 24px;

    font-weight: 300;
    font-size: 16px;
    line-height: 1.625;
    text-align: left;
    color: getcolor(base, black);

    background-color: getcolor(base, white);
    border: 3px solid getcolor(grays, base);
    border-radius: 30px;
}

.input[type=password] {
    padding-right: 50px;
}

select {
    appearance: none;
    background: url(../img/icon/select-arrow.svg) right 11px center no-repeat;
}

.checkbox {
    &__label {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    &__btn {
        position: relative;

        display: inline-block;
        width: 34px;
        height: 14px;

        background: getcolor(grays, light);
        border-radius: 7px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';

            width: 20px;
            height: 20px;

            border-radius: 100%;
            background: getcolor(grays, medium);

            transition: transform .2s;
            transform: translate(0, -50%);
        }
    }

    input:checked ~ .checkbox__btn {
        &::before {
            background: $gd-base;
            transform: translate(14px, -50%);
        }
    }

    &__title {}
}

.btn-social {
    position: relative;

    width: 100%;

    font-size: 14px;
    line-height: 22px;
    text-align: left;
    color: getcolor(blue, dark);

    background-color: getcolor(base, white);
    border: 3px solid getcolor(grays, base);
    border-radius: 30px;

    & + .form__error {
        width: 100%;
        text-align: center;
    }

    &.-inactive {
        opacity: .5;
    }

    &__link {
        display: block;
        padding: 10px 13px 10px 37px;

        color: getcolor(blue, dark);

        cursor: pointer;
    }

    &__icon {
        position: absolute;
        left: 13px;
        top: 50%;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        transform: translate(0, -50%);

        &.-vk {
            svg {
                width: 100%;
                height: 100%;

                fill: #2787F5;
            }
        }

        &.-fb {
            svg {
                width: 100%;
                height: 100%;

                fill: #4267B2;
            }
        }

        &.-google {
            svg {
                width: 100%;
                height: 100%;

                fill: #EA4335;
            }
        }

        &.-mail {
            svg {
                width: 100%;
                height: 100%;

                fill: #FF9E00;
            }
        }

        &.-yandex {
            svg {
                width: 100%;
                height: 100%;

                fill: #FC3F1D;
            }
        }

        &.-letter {
            svg {
                width: 100%;
                height: 100%;

                fill: #6C89A9;
            }
        }

        &.-phone {
            svg {
                width: 100%;
                height: 100%;

                fill: #6C89A9;
            }
        }
    }

    &__name {
        padding-left: 3px;
    }

    &__clear {
        position: absolute;
        right: 11px;
        top: 50%;

        transform: translate(0, -50%);
    }
}

.search {
    position: relative;

    &__input {
        padding-right: 46px;
    }

    &__btn {
        position: absolute;
        top: 50%;
        right: 16px;

        width: 24px;
        height: 24px;

        cursor: pointer;

        transform: translateY(-50%);

        svg {
            width: 100%;
            height: 100%;

            fill: getcolor(blue, medium);
        }
    }
}