.game {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr;
    height: 100%;
    /*
   &__row {
       display: flex;
       justify-content: space-between;
       height: 100%;
   }

   &__main {
       display: flex;
       flex-direction: column;
       flex: 1;

       background: url('../img/main-bg/main-bg-1920-opt.jpg') center bottom / cover no-repeat;
   }
   */

    &__sidebar {
        grid-row: 1/4;
        grid-column: 2/3;
        padding: 32px;
        background: $gd-radial;

        &.-guest {
            max-width: 720px;
        }
    }

    &__bg {
        grid-row: 1/4;
        grid-column: 1/2;
        background: url('../img/main-bg/main-bg-1920-opt.jpg') center bottom / cover no-repeat;
    }
}

.main {
    grid-row: 2/3;
    grid-column: 1/2;
    &.-guest {
        max-width: 404px;
        margin-left: auto;
        margin-right: auto;

        text-align: center;

        .btn {
            margin-top: 10px;
            padding-top: 14px;
            padding-bottom: 14px;

            font-size: 18px;
        }
    }
}

.game-logo {
    position: relative;
    display: inline-flex;

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 300px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 25px;
        font-weight: 800;
        line-height: 1.44;
        text-transform: uppercase;
        text-shadow: 0 0 9px rgba(0, 0, 0, 0.8);
        text-align: center;
        color: getcolor(yellow, light);

        background-color: #540081;
        border-radius: 64px;

        transform: translate(-50%, -50%);
    }
}