.hint {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 11px;

    font-size: 14px;
    color: getcolor(base, white);
    white-space: nowrap;

    background: $gd-base;
    border: 2px solid getcolor(base, white);
    border-radius: 50px;

    cursor: pointer;

    &_inactive {
        opacity: .3;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        svg {
            fill: getcolor(base, white);
        }

        &.-remove {
            svg {
                width: 16px;
            }
        }
    }

    &__name {
        padding-left: 11px;
        margin-right: auto;
    }

    &__cost {
        position: relative;

        margin-left: 14px;
        padding-left: 14px;

        &::before {
            position: absolute;
            top: 50%;
            left: 0;
            content: '';

            width: 1px;
            height: 17px;

            background-color: getcolor(base, white);

            transform: translate(0, -50%);
        }
    }

    @media (max-width: $screen-md) {
        font-size: 12px;

        &__name {
            font-size: 11px;
        }

        &__cost {
            margin-left: 8px;
            padding-left: 8px;
        }
    }

    @media (max-width: $screen-xs) {
        font-size: 10px;

        &__icon {
            width: 16px;
            height: 16px;

            &.-remove {
                svg {
                    width: 12px;
                }
            }
        }

        &__name {
            padding-left: 8px;
            font-size: 10px;
        }

        &__cost {
            margin-left: 6px;
            padding-left: 6px;
        }
    }
}