.membership {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    font-weight: 500;

    border: 1px solid getcolor(base, white-rgba4);
    border-radius: 40px;

    &.-silver {
        .membership__name {
            background-color: getcolor(base, white);
        }
    }

    &.-demo {
        .membership__name {
            background-color: getcolor(blue, secondary);
        }

        .-accent {
            color: getcolor(red, primary);
        }
    }

    &__name {
        padding: 16px;

        font-weight: 600;
        font-size: 18px;
        text-align: center;
        color: getcolor(base, black);

        background-color: getcolor(yellow, base);
    }

    &__info {
        margin: 0;
        padding: 0;

        list-style: none;
    }

    &__line {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px;

        &:nth-child(even) {
            background-color: getcolor(base, white-rgba12);
        }

        & .cost:last-child {
            text-align: right;
        }
    }

    & .-accent {
        color: getcolor(green, light);
    }

    &__form {
        margin-top: auto;
        padding: 0 24px 24px;
    }

    &__demo-info {
        font-weight: 400;
        line-height: 1.5;
    }

    &__sale {
        margin-top: 16px;

        text-align: center;
        color: getcolor(green, secondary);
    }

    &__btn {
        margin-top: 16px;
        text-align: center;
    }

    @media (max-width: $screen-xs) {
        font-size: 12px;
    }
}

.cost {
    &__name {
        font-size: 12px;
        line-height: 22px;
        font-weight: 300;
    }

    &__value {
        font-size: 19px;
        font-weight: 600;

        color: getcolor(yellow, base);
    }

    @media (max-width: $screen-xs) {
        &__value {
            font-size: 14px;
        }
    }
}