.rules {
    &__title {
        font-size: 24px;
        font-weight: 600;

        &.-font-500 {
            font-weight: 500;
        }
    }

    &__info {
        margin: 24px 0;
        padding: 10px 20px;

        background: $gd-extralight;
        border-radius: 4px;
    }

    &__info-inner {
        font-size: 18px;
        font-weight: 600;

        background: linear-gradient(180deg, #5500AA 0%, #9900B1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__text {
        margin: 24px 0;
    }

    &__helper {
        position: relative;
        padding: 16px;
        margin: 24px 0;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            z-index: 1;

            padding: 1px;

            border-radius: 4px;
            background: linear-gradient(180deg, #8000FF 0%, #DB00FF 100%);

            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
    }

    &__row {
        position: relative;
        z-index: 2;

        display: flex;
        justify-content: space-between;
        margin-top: 8px;
    }
}