.top-line {
    $this: &;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    &.-all-time {
        #{$this}__name {
            font-size: 14px;
        }

        #{$this}__value {
            font-size: 18px;
        }

        .user__name {
            font-size: 18px;
        }
    }

    &__user,
    &__info,
    &__game,
    &__prize {
        display: flex;
        align-items: center;
    }

    &__user {
        gap: 15px;
    }

    &__info {
        white-space: nowrap;
    }

    &__game {
        gap: 6px;
    }

    &__place {
        width: 40px;
        display: inline-block;

        font-size: 18px;
        font-weight: 600;
        text-align: center;
    }

    &__item {
        text-align: right;

        &.-prize-today {
            margin-left: 35px;
        }

        &.-prize-main {
            margin-left: 40px;
        }
    }

    &__name {
        margin: 0;
    }

    &__value {
        margin: 8px 0 0;

        font-size: 22px;
        font-weight: 600;

        span {
            color: getcolor(yellow, base);
        }
    }

    @media (max-width: $screen-cabinet-md) {
        &.-all-time {
            #{$this}__name {
                font-size: 12px;
            }

            #{$this}__value {
                font-size: 18px;
            }

            & .-list .user {
                &__name {
                    font-size: 16px;
                    white-space: normal;
                }

                &__status {
                    font-size: 12px;
                }
            }
        }
    }

    @media (max-width: $screen-sm) {
        &.-all-time {
            #{$this}__info {
                flex-direction: column;
                gap: 10px;
            }

            #{$this}__item {
                min-width: 150px;
                text-align: center;
                &.-prize-main,
                &.-prize-today {
                    margin-left: 0;
                }
            }

            #{$this}__game,
            #{$this}__prize {
                gap: 0;
            }
        }
    }

    @media (max-width: $screen-xs) {
        &.-all-time {
            flex-direction: column;
            align-items: flex-start;

            & .-list .user {
                &__name {
                    font-size: 12px;
                }

                &__status {
                    font-size: 10px;
                }
            }

            #{$this}__value {
                margin-top: 0;
            }

            #{$this}__name {
                font-size: 10px;
            }

            #{$this}__info {
                margin-left: 10px;
            }
        }
    }
}