.user-line {
    display: flex;
    justify-content: space-between;

    &__withdraw,
    &__deposit {
        display: flex;
        align-items: center;
    }

    &__balance {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__balance-info {
        margin-right: 26px;
    }

    &__balance-name {
        font-size: 12px;
        font-weight: 300;
        color: getcolor(base, white);
    }

    &__money {
        font-weight: 600;
        letter-spacing: 0.01em;
        color: getcolor(yellow, base);
    }

    @media (max-width: $screen-cabinet-md) {
        flex-direction: column;
        align-items: center;

        &__balance {
            flex-direction: row;
            margin-top: 24px;
        }

        &__balance-info {
            margin-right: 14px;
        }
    }

    @media (max-width: $screen-xs) {
        align-items: flex-start;

        &__balance {
            width: 100%;
            flex-direction: column;
            gap: 0;
        }

        &__balance-name {
            font-size: 10px;
        }

        &__withdraw,
        &__deposit {
            justify-content: space-between;
        }

        &__deposit {
            margin-top: 16px;
        }

        .user {
            &_line {
                grid-template-areas:
                    "user-picture user-name"
                    "user-picture user-block"
                    "user-exp user-exp";
                gap: 0 8px;
                align-items: start;
            }

            &__name {
                margin-top: 0;
                font-size: 14px;
            }

            &__picture {
                width: 72px;
                height: 72px;
            }

            &__block {
                flex-direction: column;
                align-items: flex-start;
            }

            &__status {
                font-size: 12px;
            }

            &__games-number {
                margin-left: 0;
                margin-top: 14px;

                font-size: 12px;
            }

            &__status-expires {
                margin-top: 16px;
            }
        }

        .btn_money {
            padding-top: 9px;
            padding-bottom: 9px;

            font-size: 14px;
            line-height: 18px;
        }
    }
}